@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

.boxr{
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #1C2833 ;
}
.boxr{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;

}
.boxr h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Acme', sans-serif;
}
.boxr input[type = "text"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
}
.boxr input[type = "text"]:focus{
    width: 280px;
    border-color: #2ecc71;
}
.boxr input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    cursor: pointer;
    outline: none;
    color: white;
    border-radius: 24px;
}
.boxr input[type = "submit"]:hover{
    background: #2ecc71;
}

