<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/auth/register.css">
    <title>Register</title>
</head>
<body>
    <div class="bg">
        <video src="../../static/recursos/Pexels Videos 1528503.mp4" muted autoplay loop></video>
        </div>

    <form class = "boxr" action="/register" method = "post">
        <h1>Register</h1>
        <input type="text" name="username" placeholder="Username">
        <input type="text" name="password" placeholder="Password">
        <input type="text" name="fullname" placeholder="Fullname">
        <input type="text" name="email" placeholder="Email">

        <div class="RadioButton">
            <h4>Area Asignada</h4>
            <input type="radio" name="area" id="Software" value="Software">
            <label for="Software">Software</label>
            <input type="radio" name="area" id="Diseno" value="Diseno">
            <label for="Diseno">Diseno</label>
            <input type="radio" name="area" id="Manofactura" value="Manofactura">
            <label for="Manofactura" >Manofactura</label>
        </div>
        <div class="RadioButton">
            <h4>Nivel del Usuario</h4>
            <input type="radio" name="nivel" id="admin" value="Admin">
            <label for="admin">Admin</label>
            <input type="radio" name="nivel" id="gestor" value="Gestor">
            <label for="gestor">Gestor</label>
            <input type="radio" name="nivel" id="colaborador" value="Colaborador">
            <label for="colaborador" >Colaborador</label>
        </div>


        <input type="submit" name="register" value="Register">
    </form>
</body>
</html>