{% extends "base.html" %}


{%block customcss%}
<link rel="stylesheet" href="../../static/Users/pendientes.css">
{% endblock %}  

{% block bodycontent%}

    <div class="bg">
    <video src="../../static/recursos/pexels-payton-tuttle-10493080.mp4" muted autoplay loop></video>
    </div>
    

    

    <div class="div-info">
        <h1>LISTA DE EVENTOS</h1>

        {%if current_user.nivel != "Colaborador" %}
            <div class="div-btn">
                <a href="{{ url_for('users.eventosRegister')}}"><input class="btn" type = "button" value="Crear Evento"></a>
            </div>        
        {% endif %}

        {%if list != None %}
            {% for item in list %}
            <div class="content">
                <h3 class="block">{{item.title}}</h3>
                <p class="block">{{item.content}}</p>
                <p>Fecha de Creacion: {{item.dateCreation}}</p>
                <p>Fecha de Evento: {{item.dateEnd}}</p>
                <p>Area: {{item.area}}</p>
                <p>Remitente: {{item.id_owner}}</p>
                
                <p class="block"> Grado de Importancia: {{item.importance}}</p>
                <a href="{{ url_for('users.modificarEvento',id = item.id)}}"><input class="btn" type = "button" value="Editar"></a>
                <a href="{{ url_for('users.eliminarEvento',id = item.id)}}"><input class="btn" type = "button" value="Eliminar"></a>
            </div>
            {% endfor %}
            
        {% endif %}
        
        
    </div>

{% endblock %}