<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/Users/prueba.css">
</head>
<body>
    
        
    <div class = "logo-header">
            
        <img src="../recursos/logos.jpg" alt="" height="40px" width="40px">
    </div>
    <div class = "logo-header">
            
        <img src="../recursos/logos.jpg" alt="" height="40px" width="40px">
    </div>
    <div class="bg">
        <video src="../recursos/bg.mp4" muted autoplay loop></video>
      </div>
</body>
</html>